<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IT School TODO App</title>
</head>
<body>
    <h1>Hello IT School!</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro fuga repudiandae a magni excepturi. Atque incidunt nulla illum, doloremque, harum optio expedita similique odit delectus quod soluta facere perspiciatis nam.</p>
    <ul>
        <li>Cola</li>
        <li>Fanta</li>
        <li>Sprite</li>
    </ul>
    
    <a href="http://127.0.0.1:8000/todo">Click HERE for a to-do list.</a>
    <a href="http://127.0.0.1:8000/info">Click HERE for more info.</a>
    
    <img src="https://static.djangoproject.com/img/fundraising-heart.cd6bb84ffd33.svg", alt="Support logo">

    <table>
        <tr>
            <td>1</td>
            <td>2</td>
            <td>3</td>
        </tr>
        <tr>
            <td>4</td>
            <td>5</td>
            <td>6</td>
        </tr>
    </table>

    <div>
        <h1>Div here</h1>
        <p>Paragraph inside div</p>
    </div>

</body>
</html>